@import './../../styles/typography';

.book-card-container {
    width: 100%;
    height: auto;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 6px;
    font-family: Nunito, sans-serif;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    cursor: pointer;

    &__image-container {
        width: 100px;
        height: 120px; 
    }

    img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    &__text-container {
        padding: 0 10px;
        font-size: 14px;
        padding: 10px;
    }

    &__label-book {
        font-weight: 700;
    }

}

@media (max-width: 576px) {
    .book-card-container {
        flex-direction: column;
        cursor: pointer;

        &__image-container {
            width: 100%;
            height: 100px;  
        }

        img {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-left-radius: 0px;
        }
    }
}