<div class="book-card-container">
    <div class="book-card-container__image-container">
        <img src="https://imagessl8.casadellibro.com/a/l/t7/08/9788497592208.jpg" alt="">
    </div>

    <div class="book-card-container__text-container">
        <div class="book-name">100 Año de soledad</div>
        <div class="book-author">Gabriel Garcia Marquez</div>
        <div class="book-publish-date">10-01-1970</div>
    </div>
</div>

<!-- BLOCK => Contendor principal de un elemento.
ELEMENT => deben pertenecer a un bloque y no alteran cambios en el html
           y se reconocen con el book-card-container__image-container
MODIFIER => Alteran el dom y pueden pertenecer a un BLOCK O un ELEMENT           
            y se identifican con -- -->